@{
    Layout = "~/Areas/System/Views/Shared/_Layout.cshtml"; ;
}



<table title="分类列表" id="dg"
       class="easyui-treegrid"
       url="/Member/Ajax/Request?cmd=BusArticleCategoryList"
       idfield='ID'
       treefield='No'
       toolbar='#toolbar'
       rownumbers='true' fit="true">
    <thead>
        <tr>
            <th data-options="field:'No'" width="200">分类编号</th>
            <th data-options="field:'Name'" width="200">分类名称</th>
            <th data-options="field:'OrderIndex'" width="150">顺序</th>
            <th data-options="field:'State',formatter:formatterState" width="150">状态</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <a class="easyui-linkbutton" plain="true" icon="icon-reload" onclick="vm.reload()">刷新</a>
    <a class="easyui-linkbutton" plain="true" icon="icon-add" onclick="vm.add()">新增</a>
    <a class="easyui-linkbutton" plain="true" icon="icon-edit" onclick="vm.edit()">修改</a>
    <a class="easyui-linkbutton" plain="true" icon="icon-remove" onclick="vm.remove()">删除</a>
</div>





<div id="dlg" title="管理员信息"
     class="easyui-window"
     data-options="modal:true,closed:true,maximizable:false,resizable:false,minimizable:false,collapsible:false,top:100"
     style="padding: 10px; width: 340px; display:none;">
    <form id="form1" method="post" action="/Member/Ajax/Request?cmd=BusArticleCategoryAdd">
        <input type="hidden" id="ID" name="ID" value="0" />
        <table>
            <tr>
                <td>分类编号：</td>
                <td>
                    <input name="No" id="No" class="easyui-validatebox" placeholder="分类编号" maxlength="20" type="text" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td>分类名称：</td>
                <td><input name="Name" id="Name" class="easyui-validatebox" placeholder="分类名称" type="text" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>先后顺序：</td>
                <td><input name="OrderIndex" id="OrderIndex" class="easyui-validatebox" type="text"  value="0"/></td>
            </tr>
            <tr>
                <td>上级分类：</td>
                <td>
                    <select class="easyui-combotree" name="ParentID" id="ParentID" style="width: 150px;" class="easyui-validatebox"></select>
                </td>
            </tr>
            <tr>
                <td>状态：</td>
                <td>
                    <select class="easyui-validatebox" name="State" id="State" data-options="required:true">
                        <option value="1">启用</option>
                        <option value="-1">禁用</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>

    <div style="text-align: center; padding: 5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="vm.submit(0)">确定</a>
    </div>
</div>

@section scripts{
    <script src="/Areas/System/Scripts/TreeGrid.js"></script>
    <script type="text/javascript" src="/Areas/System/Scripts/BusArticleCategoryListView.js"></script>
}