@{
    Layout = "~/Areas/System/Views/Shared/_Layout.cshtml";
}



<table title="组合调仓列表" id="dg"
       class="easyui-datagrid"
       url="/Member/Ajax/Request?cmd=BusPortfolioChangeList"
       iconcls="icon-search"
       toolbar="#toolbar"
       rownumbers="true"
       pagination="true" pagelist="[20,30,50,100]" fit="true">
    <thead>
        <tr>
            <th data-options="field:'ID',checkbox:true"></th>
            <th data-options="field:'Tel'" width="160">组合名称</th>
            <th data-options="field:'RealName'" width="160">股票代码</th>
            <th data-options="field:'NickName'" width="160">比例</th>
            <th data-options="field:'AddTime',formatter:API.DateFormat" width="160">调仓时间</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <a class="easyui-linkbutton" plain="true" icon="icon-reload" onclick="vm.reload()">刷新</a>
</div>


@section scripts{
    <script src="~/Areas/System/Scripts/API.js"></script>
    <script src="/Areas/System/Scripts/DataGrid.js"></script>
    <script type="text/javascript" src="/Areas/System/Scripts/BusPortfolioChangeList.js"></script>
}