@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/System/Views/Shared/_Layout.cshtml";
}

<div id="dlg" title="国泰君安财富管理平台系统登录"
     class="easyui-window"
     data-options="modal:true,
     closed:false,
     maximizable:false,
     resizable:false,
     minimizable:false,
     collapsible:false,top:200"
     style="padding: 10px; width: 250px; display:none;">
    <form id="form1" method="post" action="/System/Account/Login">
        <input type="hidden" id="ID" name="ID" value="0" />
        <table>
            <tr>
                <td>帐号：</td>
                <td>
                    <input name="LoginName" id="LoginName" class="easyui-validatebox" type="text" data-options="required:true"  value="admin"/>
                </td>
            </tr>
            <tr>
                <td>密码：</td>
                <td style="height:40px;"><input name="Password" id="Password" class="easyui-validatebox" type="password" data-option="required:true"  value="admin"/></td>
            </tr>
            <tr>
                <td colspan="2"><div id="tip" class="login-tip"></div></td>
            </tr>
        </table>
    </form>

    <div style="text-align: center; padding: 5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="vm.login()">登录</a>
    </div>
</div>

@section scripts{
    <script src="/Scripts/jquery.cookie.js"></script>
    <script src="/Areas/System/Scripts/DataGrid.js"></script>
    <script src="/Areas/System/Scripts/LoginView.js"></script>
    <script type="text/javascript">
        if (window != top) {
            //如果被框架了，则跳出
            top.location.href = location.href;
        }
        $(function () {
            $("#LoginName").focus();
        });
    </script>
}
