@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>国泰君安四川分公司财富管理平台管理系统</title>
    <link rel="stylesheet" type="text/css" href="~/Areas/System/Content/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/System/Content/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/System/Content/default.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/System/Content/icon.css">

</head>
<body class="easyui-layout" style="overflow-y: hidden">
    <noscript>
        <div class="noscript">
            <img src="/Areas/System/Content/images/noscript.gif" alt='抱歉，请开启脚本支持！' />
        </div>
    </noscript>
    <div id="loading-mask">
        <div id="pageloading">
            <img src="/Areas/System/Images/loading.gif" align="absmiddle" /> 正在加载中,请稍候...
        </div>
    </div>

    <!-- 头部 -->
    <div id="toparea" data-options="region:'north',border:false,height:38">
        <div id="topmenu" class="easyui-panel" data-options="fit:true,border:false">
            <a class="logo">后台管理系统</a>
            <ul class="nav-right">
                <li>
                    <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icons-other-house'" onclick="window.open('/index.html')">访问首页</a>
                    <a href="javascript:;" class="easyui-splitbutton" data-options="menu:'#toparea-user-info-box',iconCls:'icons-user-user'">超级管理员</a>
                    <a href="javascript:;" class="easyui-splitbutton" data-options="menu:'#toparea-help-box',iconCls:'icons-other-help'">帮助</a>

                    <div id="toparea-user-info-box">
                        <div>wangdong</div>
                        <div class="menu-sep"></div>
                        <div onclick="baseModule.userinfo()">个人信息</div>
                        <div onclick="openChangePassword()">修改密码</div>
                        <div class="menu-sep"></div>
                        <div onclick="Logout()">退出登录</div>
                    </div>

                    <div id="toparea-help-box">
                    </div>
                </li>
            </ul>
            <div style="clear:both;border-bottom:none;border-left:none;border-right:none"></div>
        </div>
    </div>

    <!-- 左侧菜单 -->
    <div id="leftarea" data-options="iconCls:'icons-application-application_side_boxes',region:'west',title:'我的面板',split:true,width:220">
        <div id="nav" class="easyui-accordion" data-options="fit:true,border:false"></div>
    </div>

    <!-- 内容 -->
    <div id="mainarea" data-options="region:'center'">
        <div id="tabs" class="easyui-tabs" data-options="tabPosition:'top',fit:true,border:false,plain:false">
            <div title="欢迎使用" style="padding: 20px; overflow: hidden;">
            </div>
        </div>
    </div>

    <div id="bottomarea" data-options="region:'south',split:true" >
        <div class="footer">版权所有&copy;国泰君安 2015</div>
    </div>
    
    <div id="dlgChangePws" title="修改密码"
         data-options="modal:true,
         closed:false,
         maximizable:false,
         resizable:false,
         minimizable:false,
         collapsible:false,top:200"
         style="padding: 10px; width: 250px; display:none;">
        <form id="form1" method="post" action="/System/Ajax/Request?cmd=SysChangePassword">
            <input type="hidden" id="ID" name="ID" value="0" />
            <table>
                <tr>
                    <td>旧密码：</td>
                    <td>
                        <input name="OldPassword" id="OldPassword" class="easyui-validatebox" type="password" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td>新密码：</td>
                    <td><input name="NewPassword" id="NewPassword" class="easyui-validatebox" type="password" data-options="required:true" /></td>
                </tr>
                <tr>
                    <td>确认密码：</td>
                    <td><input name="ValidPassword" id="ValidPassword" class="easyui-validatebox" type="password" data-options="required:true" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span id="tip" style="color:red;"></span>
                    </td>
                </tr>
            </table>
        </form>
        <div style="text-align: center; padding: 5px">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="changePassword()">提交</a>
        </div>
    </div>

    <script src="/Scripts/jquery-1.8.2.min.js"></script>
    <script src="/Areas/System/Scripts/jquery.easyui.min.js"></script>
    <script src="/Areas/System/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="/Scripts/json2.js"></script>
    <script src="/Scripts/jquery.cookie.js"></script>
    <script src="/Areas/system/scripts/api.js"></script>
    <script type="text/javascript">
        $(function () {
            Tip();
            GetMenu();
            $('#loading-mask').fadeOut();
        });
        
        function GetMenu() {
            API.Request("SysMenuList", "", function (data) {
                $.each(data, function (i, menu) {
                    var content = '<ul class="easyui-tree" data-options=\'data:' + JSON.stringify(menu.menus) + ',animate:true,lines:true,onClick:function(node){OpenTab(node.url, node.text)}\'></ul>';
                    $("#nav").accordion("add",
                        {
                            title: menu.text,
                            content: content,
                            iconCls: 'icons-application-application_side_list',
                            selected: (i == 0 ? true : false)
                        });
                });
            });
        };

        function OpenTab(url, title, icon) {
            if ($("#tabs").tabs('exists', title)) {
                $("#tabs").tabs('select', title);
            } else {
                var height = $("#tabs").tabs("options")["height"] - 31;
                var content = "<iframe frameborder='0' scrolling='auto' style='width:100%;height:" + height + "px;' src=" + url + "></iframe>";
                $("#tabs").tabs('add', {
                    title: title,
                    closable: true,
                    content: content,
                    icon: icon
                });
            }

            if ($('#tabs').tabs('exists', title)) {
                $('#tabs').tabs('select', title);
            } else {
                $('#tabs').tabs('add', { title: title, href: url, closable: true, cache: false });
            }
        }

        function Tip() {
            $.messager.show({
                title: '登录提示',
                msg: '您好！wangdong 欢迎回来！<br/>最后登录时间：2015-06-09 22:40:38<br/>最后登录IP：171.221.148.50',
                timeout: 5000,
                showType: 'slide'
            });
        }
        
        function Logout() {
            $.messager.confirm('提示', '确定要登出吗?', function (r) {
                if (r) {
                    $.cookie('token', '', { expires: -1, path: '/' });
                    window.location.href = "/System/Account/Login";
                }
            });
        }
        
        function openChangePassword() {
            $("#tip").text();
            $("#dlgChangePws").show();
            $("#dlgChangePws").window({}).window('open');
        }
        
        function changePassword() {
            var pass1 = $("#NewPassword").val();
            var pass2 = $("#ValidPassword").val();
            if (pass1 != pass2) {
                $("#tip").text("两次密码不一致");
                return;
            }


            $("#form1").form('submit', {
                onSubmit: function () {
                    var valid = $(this).form('validate');
                    if (valid) {
                        $.messager.progress({
                            title: 'Please waiting',
                            msg: 'Loading data...'
                        });
                    }


                    return valid;
                },
                success: function (data) {
                    $.messager.progress('close');
                    if (data == "true") {
                        $("#dlgChangePws").window("close");
                        return;
                    }

                    $("#tip").text("旧密码错误，不能修改新密码");
                }
            });
        }
        
    </script>
</body>
</html>


